body {
  background: grey;
}
h1 {
text-align; center;
}
.caixa1 {
  position: absolute;
  background: black;
  color: white;
  width: 200px;
  height: 200px;
  right: 0;
  top: 0;
}
.caixa2 {

  position: absolute;
  background: white;
  color: brown;
  width: 200px
  height: 200px
  right: 0%;
  bottom: 0;
}
